<%= turbo_frame_tag "drawer" do %>
  <div class="modal-header">
    <h5 class="modal-title">Edit Identity</h5>
    <button class="btn-close" data-bs-dismiss="modal"></button></div>
  <div class="modal-body"><%= render "form", pet: @pet, section: params[:section] %></div>
<% end %>