<% content_for :title, @pet.name %>

<div class="max-w-4xl mx-auto">
  <%# --- 1. PROFILE HEADER --- %>
  <%= render "pets/profile_header", pet: @pet %>

  <%# --- 2. HORIZONTAL NAV BAR & MAIN CONTENT --- %>
  <%= turbo_frame_tag "pet_content", data: { turbo_action: "advance" } do %>
    <%= render "pets/nav_tabs", pet: @pet, active_tab: :about %>
    <%= render "pets/about", pet: @pet %>
  <% end %>
</div>
